$primary-color: #e53935;
$secondary-color: #00a0cb;
$dark: #012840;
$text: white;
$secondary-text: #1c1d21;
$font-weights: (
    "normal": 400,
    "medium": 700,
    "bold": 900,
);

%btn-1 {
    background: $primary-color;
    color: #fff !important;
    display: inline-block;
    padding: 13px 39px !important;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background-color: $secondary-color;
    }
}
%btn-2 {
    @extend %btn-1;
    background-color: $secondary-color;
    &:hover {
        background-color: $primary-color;
    }
}
